{% if errors is not empty %}
	<div class="alert alert-danger col-8 col-md-6 mx-auto text-center mt-2">
		{% for error in errors %}
			<div>{{error}}</div>
		{% endfor %}
	</div>
{% endif %}
<h2 class="addClothTitle col-8 col-md-6 mx-auto mt-5 mb-3 text-center">{{ title_name|default('Ajouter un tissu')}}</h2>
<div class="container">
	<form method="POST" enctype="multipart/form-data">
		<div class="form-row">
			<div class="form-group col-8 col-md-6 mx-auto">
				<label for="name">Nom</label>
				<input type="text" class="form-control" value="{{ clothItems.name }}" id="name" name="name" placeholder="Tissu rose">
			</div>
			<div class="form-group col-8 col-md-6 mx-auto">
				<label for="image">Image</label>
			{% if clothItems.image is not empty %}
				<div class="col-8 col-md-6 mx-auto d-flex justify-content-center">
					<img src="{{clothItems.image}}"  class="w-50 h-50 mb-2" alt="{{clothItems.name}}">
				</div>
			{% endif %}
				<input type="file" class="form-control" value="{{ clothCategory.image }}" id="image" name="image">
			</div>
			<div class="form-group col-8 col-md-6 mx-auto">
				<label for="price">Prix (en €)</label>
				<input type="number" step="0.1" class="form-control" value="{{ clothItems.price }}" id="price" name="price" placeholder="30">
			</div>
			<div class="form-group col-8 col-md-6 mx-auto">
				<label for="description" class="form-label mb-0">Description</label>
  				<textarea class="form-control mt-0" id="content" name="description" rows="5" placeholder="Je suis un beau tissu">{{clothItems.description}}</textarea>			
			</div>
			<div class="form-group col-8 col-md-6 mx-auto">
				<label for="cloth_categories_id">Catégorie</label>
				<select name="cloth_categories_id" id="cloth_categories_id" class="form-control">
					{% for category in categories %}
						<option {% if clothItems.CatId is same as (category.id) %} selected="{{ clothItems.CatId }}" {% endif %} value="{{ category.id }}">{{ category.name }}</option>
					{% endfor %}
				</select>
				<div class="d-flex justify-content-center align-items-center mb-3">
					<div class="d-flex flex-column me-5">
						<label for="sale">En solde</label>
						<input type="checkbox" id="sale" name="is_on_sale" {% if clothItems.is_on_sale is same as 1 %} checked {% endif %} value="1">
					</div>
					<div class="d-flex flex-column">
						<label for="new">Nouveau</label>
						<input type="checkbox" id="new" name="is_new" {% if clothItems.is_new is same as 1 %} checked {% endif %} value="1">
					</div>
				</div>
				<button type="submit" class="d-flex justify-content-around align-items-center btn btn-md">
					{% autoescape false %}
						{{ button_name|default('<svg class="adminSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg> 
						Ajouter')}}
					{% endautoescape %}
				</button>
			</div>
		</form>
	</div>
