{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/tips.css">
{% endblock %}
{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">
			{% for tipCategory in tipCategories %}
				{% if id == tipCategory.id %}
					{{ tipCategory.name }}
				{% endif %}
			{% endfor %}
			{% if id is empty %}
				Astuces
			{% endif %}
		</h1>
	</div>
	<div class="container categories mt-3">
		<div class="row justify-content-center">
			{% for tipCategory in tipCategories %}
				<div class="col-lg-3 mt-1 w-25">
					<a href='{{ tipCategory.link }}' class="btn btn-lg w-100 m-1 bg-primary categories">{{ tipCategory.name }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="card-tip w-50 mx-auto bg-primary mt-3 p-2">
		<div class="d-flex justify-content-center">
			<h2 class="title-tip text-center text-light bg-secondary px-4 py-2 mt-3 mb-2">{{tip.name}}</h2>
		</div>
		<img class="img-tip d-none d-md-block w-100 px-4 mt-2" src="{{tip.image}}" alt="{{tip.name}}">
		<div class="textMonthly align-self-center py-4 px-4">{{tip.content}}
		</div>
	</div>
</div></div>{% endblock %}
