{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/tips.css">
{% endblock %}
{% block content %}
		<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">
			{% for tipCategory in tipCategories %}
				{% if id == tipCategory.id %}
					{{ tipCategory.name }}
				{% endif %}
			{% endfor %}
			{% if id is empty %}
				Astuces
			{% endif %}
		</h1>
	</div>
	<div class="container categories mt-3">
		<div class="row justify-content-center">
			{% for tipCategory in tipCategories %}
				<div class="col-lg-3 mt-1 w-25">
					<a href='{{ tipCategory.link }}' class="btn btn-lg w-100 m-1 bg-primary categories">{{ tipCategory.name }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<section>
		<div class="container">
			<div class="row my-5 d-flex flex-column align-items-center justify-content-center">
				<div class="monthlyTip p-0  bg-primary w-100">
					<div class="d-flex justify-content-center">
						<h2 class="title-tip mt-3 mb-4 w-50 d-flex justify-content-center text-light">Astuce du mois</h2>
					</div>
					<div class="d-flex justify-content-center ms-4">
						<img class="img-tip me-4 p-2" src="{{ monthlyTip.image }}" alt="{{ monthlyTip.name }}">
						<div class="textTip d-flex flex-column align-items-start justify-content-center p-2">
							<h3 class="monthlyTitle p-0 mb-3">{{ monthlyTip.name }}</h3>
							<p class="textMonthly">{{ monthlyTip.content }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row mb-4">
			{% for tip in tips %}
				<div class="col-md-3 d-flex justify-content-around mt-4">
					<figure class="card h-75 w-75">
						<img src="{{ tip.image }}" class="card-img-top img-fluid h-50  px-1 pt-1 bg-primary" alt="{{ tip.name }}">
						<div class="card-body bg-primary">
							<h3 class="card-title text-dark my-4 d-flex justify-content-center">{{ tip.name }}</h3>
							<a href="/astuces/truc-et-astuce/?id={{ tip.id }}" class="btn w-75 text-light bg-secondary position-absolute bottom-0 ms-4 mb-3">Découvrir</a>
						</figure>
					</div>
				{% endfor %}
			</section>
		{% endblock %}
