{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">Bienvenue chez Tissus Jaurès</h1>
	</div>
	<div class="container">
	<div class="ms-4 me-5 boutique">
		<section id="boutique" class="boutique">
			<h2 class="text-center text-dark mt-3">Notre boutique
			</h2>
			<div class="boutique-description d-flex justify-content-center w-auto">
				<img src="https://picsum.photos/id/239/350/200" class="boutique-img ms-4" alt="boutique">
				<p class="ms-4 mt-5 boutique-text text-dark">
					Vous trouverez dans notre très vaste magasin, des milliers de mètres de Tissus d'Ameublement, 
															de Voilages, de Tissus Couture et Haute Couture, une très grande Mercerie et un large choix en Décoration, 
															rideaux prêts à poser…
										          Nous déstockons les plus grandes maisons de textile et pouvons donc vous proposer et vous garantir une très bonne qualité à prix malins !
				</p>
			</div>
		</section>
	</div>
	<div class="cards-new-arrivals">
		<section id="new-arrivals">
			<h2 class="text-center text-dark">Nos nouveautés
			</h2>
			<div class="row">
				{% for cloth in clothes %}
					<div class="col-lg-3 mb-2">
						<figure class="card h-100">
							<img src="https://picsum.photos/200/200" class="card-img-top" alt="Nouveau tissus : {{ cloth.name }}">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark">{{ cloth.name }}</h5>
								<p class="card-text text-dark mb-5">{{ cloth.description }}
								</p> 
								<a onclick="window.location.href='/tissus';" class="btn text-light bg-secondary position-absolute bottom-0 end-0 m-2">Découvrir</a>
							</div>
						</figure>
					</div>
				{% endfor %}
				{% for machine in machines %}
					<div class="col-lg-3 mb-2">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/50/200/200" class="card-img-top" alt="Nouvelle machine : {{ machine.name }}">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark">{{ machine.name }}</h5>
								<p class="card-text text-dark mb-5">{{ machine.description }}
								</p> 
								<a onclick="window.location.href='/machines';" class="btn text-light bg-secondary position-absolute bottom-0 end-0 m-2">Découvrir</a>
							</div>
						</figure>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
	</div>
{% endblock %}