{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}
{% block content %}
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<h1 class="text-light">Nos produits</h1>
	</div>
	<div class="container cards-products mt-3">
		<section id="products">
			 <div class="row mb-4">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="title py-2 px-3">
                            <h2 class="text-center text-light mt-3">Catégories
                            </h2>
                        </div>
                    </div>
                </div>
			<div class="row justify-content-center mb-4">
				{% for clothCategory in clothCategories %}
					<div class="col-lg-3 mb-2">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/535/200/150" class="card-img-top px-1 pt-1 bg-primary" alt="{{ cloth.name }}">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark mb-5 text-center">{{ clothCategory.name }}</h5>
								<a href="/tissus/categorie?id={{ clothCategory.id }}" class="btn w-75 text-light bg-secondary position-absolute bottom-0 ms-4 mb-3">Découvrir</a>
							</figure>
						</div>
					{% endfor %}
					{% for machineCategory in machineCategories %}
						<div class="col-lg-3 mb-2">
							<figure class="card h-100">
								<img src="https://picsum.photos/id/885/200/150" class="card-img-top px-1 pt-1 bg-primary" alt="{{ machine.name }}">
								<div class="card-body bg-primary">
									<h5 class="card-title text-dark mb-5">{{ machineCategory.name }}</h5>
									<a href="/machines" class="btn w-75 text-light bg-secondary position-absolute bottom-0 ms-4 mb-3">Découvrir</a>
								</figure>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		{% endblock %}
