{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}
{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">
			{% for clothCategory in clothCategories %}
				{% if id == clothCategory.id %}
					{{ clothCategory.name }}
				{% endif %}
			{% endfor %}
			{% if id is empty %}
				Tissus
			{% endif %}
		</h1>
	</div>
	<div class="container categories mt-3">
		<div class="row justify-content-center">
			{% for clothCategory in clothCategories %}
				<div class="col-lg-3 mt-1 w-25">
					<a href='/tissus/category?id={{ clothCategory.id }}' class="btn btn-lg w-100 m-1 bg-primary categories">{{ clothCategory.name }}</a>
				</div>
			{% endfor %}
			{% for machineCategory in machineCategories %}
				<div class="col-lg-3 mt-1 ">
					<a href='/machines' class="btn btn-lg w-100 m-1 bg-primary categories">{{ machineCategory.name }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container cards-products mt-3">
		<section id="products">
			<div class="row">
				{% for cloth in clothes %}
					<div class="col-lg-3 mb-2 mx-auto">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/535/200/150" class="card-img-top" alt="Tissus">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark">{{ cloth.name }}</h5>
								<div class="prix card-text position-absolute bottom-0 end-0 m-2">
									{{ cloth.price }} €</a>
							</div>
						</figure>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}