{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}
{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">
			{% for clothCategory in clothCategories %}
				{% if id == clothCategory.id %}
					{{ clothCategory.name }}
				{% endif %}
			{% endfor %}
			{% if id is empty %}
				Tissus
			{% endif %}
		</h1>
	</div>
	<div class="container categories mt-3">
		<div class="row justify-content-center">
			{% for clothCategory in clothCategories %}
				<div class="col-lg-3 mt-1 w-25">
					<a href='/tissus/categorie?id={{ clothCategory.id }}' class="btn btn-lg bg-primary w-100 m-1 categories">{{ clothCategory.name }}</a>
				</div>
			{% endfor %}
			{% for machineCategory in machineCategories %}
				<div class="col-lg-3 mt-1 ">
					<a href='/machines' class="btn btn-lg w-100 bg-primary m-1 categories">{{ machineCategory.name }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container cards-products mt-3 mb-4">
		<section id="products">
			<div class="row d-flex justify-content-center align-items-center">
				{% for cloth in clothes %}
					<div class="col-lg-3 mb-2">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/535/200/150" class="card-img-top px-1 pt-1 bg-primary" alt="Tissus">
							<div class="card-body d-flex flex-column bg-primary">
								<h5 class="card-title fabric text-secondary mb-2">{{ cloth.name }}</h5>
								<div class="card-text text-dark ms-2 mb-2">
									{{ cloth.description }}
							</div>
								<div class="card-text prix bg-secondary text-light text-center w-25 position-absolute top-0 end-0 m-2 rounded">
									{{ cloth.price }} €
							</div>
						</figure>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}