{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}
{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">
			{% for clothCategory in clothCategories %}
				{% if id == clothCategory.id %}
					{{ clothCategory.name }}
				{% endif %}
			{% endfor %}
		</h1>
	</div>
	<div class="container mt-3">
		<div class="row justify-content-center">
			{% for clothCategory in clothCategories %}
					<div class="col-lg-3 col-md-5 mt-1 categories">
						<a href='/tissus/categorie?id={{ clothCategory.id }}' class="
						btn {% if id is same as clothCategory.id %} btn-cat bg-secondary text-primary {% else %} bg-primary {% endif %} w-100 m-1">{{ clothCategory.name }}</a>
					</div>
			{% endfor %}
			{% for machineCategory in machineCategories %}
				<div class="col-lg-3 col-md-5 mt-1 categories">
					<a href='/machines' class="btn w-100 bg-primary m-1">{{ machineCategory.name }}</a>
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-end ml-5">
			<div class="col-lg-5 col-md-6 mt-3 mb-2">
				<form type="hidden" class="input-group search-form mx-auto" method="GET" action="/produits/chercher">
					<input type="search" name="search" class="form-control search rounded bg-light text-dark" placeholder="Rechercher" aria-label="Search" aria-describedby="search"/>
					<button class="input-group-btn search-btn bg-primary btn-lg rounded border-0 ms-1" id="search">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
				</form>
			</div>
		</div>
		<div class="cards-products mt-3 mb-4">
			<section id="products">
				<div class="row justify-content-center align-items-center">
					{% for cloth in clothes %}
						<div class="col-lg-3 product-cards mb-4">
							<figure class="card h-100">
								<img src="{{cloth.image}}" class="card-img-top h-60 w-auto px-1 pt-1 bg-primary" alt="Tissus">
								<div class="card-body d-flex flex-column bg-primary">
									<h5 class="card-title fabric text-secondary mb-2">{{ cloth.name }}</h5>
									<div class="card-text text-dark ms-2 mb-2">
										{{ cloth.description }}
									</div>
									<div class="price card-text bg-secondary text-light text-center w-25 position-absolute top-0 end-0 m-2 rounded">
										{{ cloth.price }}
										€
									</div>
									<div class="sign card-text bg-secondary text-light text-center w-25 position-absolute top-0 start-0 m-2 rounded">
										{% if cloth.is_on_sale == true  %}
											Promo
										{% elseif cloth.is_new == true  %}
											Nouveau
										{% endif %}
									</div>
								</figure>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	{% endblock %}
