{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/tutorials.css">
{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center header">
	<h1 class="text-light">Tutoriels</h1>
</div>
<div class="container categories mt-3">
	<div class="row justify-content-center">
		{% for tipCategory in tipCategories %}
			<div class="col-lg-3 mt-1 w-25">
				<a href='/{{ tipCategory.name|lower }}' class="btn btn-lg w-100 m-1 bg-primary categories">{{ tipCategory.name }}</a>
			</div>
		{% endfor %}
	</div>
</div>
<div class="container mx-auto bg-primary mt-2 p-3">
<div class="row">
	<h2 class="text-center col-12">{{tutorial.name}}</h2>
	<img class="img d-none d-md-block w-25 h-25 col-4" src="{{tutorial.image}}" alt="{{tutorial.name}}">
	<div class="align-self-center p-2 col-8 mx-auto">{{tutorial.content}}</div>
	</div>
</div>
{% endblock %}
